In [22]:
import pandas as pd
smoke = pd.read_csv('smoke_past.csv')

In [23]:
smoke

,centerNm,critYr,ptAge,ptSexCd,statsTrgtNm,ncsNmvl,wholNcsDnmvl,ptCntNmvl,wholPtCntDnmvl
0,국립암센터,2013,60,M,Y,17,18,16,17
1,국립암센터,2013,58,M,Y,17,17,14,14
2,국립암센터,2013,65,F,N,4,5,4,5
3,국립암센터,2017,71,M,Y,11,14,10,12
4,국립암센터,2014,83,M,N,2,2,1,1
...,...,...,...,...,...,...,...,...,...
995,국립암센터,2019,83,F,N,5,5,4,4
996,국립암센터,2012,58,F,Y,3,7,3,7
997,국립암센터,2016,79,F,N,3,3,3,3
998,국립암센터,2016,53,F,N,5,6,4,5
999,국립암센터,2016,71,M,N,2,18,2,16

In [24]:
smoke

,centerNm,critYr,ptAge,ptSexCd,statsTrgtNm,ncsNmvl,wholNcsDnmvl,ptCntNmvl,wholPtCntDnmvl
0,국립암센터,2013,60,M,Y,17,18,16,17
1,국립암센터,2013,58,M,Y,17,17,14,14
2,국립암센터,2013,65,F,N,4,5,4,5
3,국립암센터,2017,71,M,Y,11,14,10,12
4,국립암센터,2014,83,M,N,2,2,1,1
...,...,...,...,...,...,...,...,...,...
995,국립암센터,2019,83,F,N,5,5,4,4
996,국립암센터,2012,58,F,Y,3,7,3,7
997,국립암센터,2016,79,F,N,3,3,3,3
998,국립암센터,2016,53,F,N,5,6,4,5
999,국립암센터,2016,71,M,N,2,18,2,16

In [25]:
smoke_new = smoke.iloc[:, [3,4]]

In [26]:
smoke_new

    ptSexCd statsTrgtNm
0         M           Y
1         M           Y
2         F           N
3         M           Y
4         M           N
..      ...         ...
995       F           N
996       F           Y
997       F           N
998       F           N
999       M           N

[1000 rows x 2 columns]

In [27]:
def do(x):
    if x == 'M':
        return 1
    else:
        return 2

In [28]:
def doo(x):
    if x == 'Y':
        return 1
    else:
        return 0

In [29]:
smoke_new['ptSexCd'] = smoke_new['ptSexCd'].map(do)
smoke_new['statsTrgtNm'] = smoke_new['statsTrgtNm'].map(doo)

C:\Users\martu\AppData\Local\Temp/ipykernel_139856/1055333716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smoke_new['ptSexCd'] = smoke_new['ptSexCd'].map(do)
C:\Users\martu\AppData\Local\Temp/ipykernel_139856/1055333716.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smoke_new['statsTrgtNm'] = smoke_new['statsTrgtNm'].map(doo)

In [30]:
smoke_new

     ptSexCd  statsTrgtNm
0          1            1
1          1            1
2          2            0
3          1            1
4          1            0
..       ...          ...
995        2            0
996        2            1
997        2            0
998        2            0
999        1            0

[1000 rows x 2 columns]

In [31]:
X = smoke_new[['ptSexCd']]
y = smoke_new[['statsTrgtNm']]

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size =0.2, random_state = 42)
X_train_val, X_test_val, y_train_val, y_test_val = train_test_split(X_train, y_train,test_size = 0.2, random_state = 42)

In [33]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train_val, y_train_val)

LinearRegression()

In [34]:
lr.score(X_test_val, y_test_val)

0.11158296326569894

# RMSE

In [36]:
from sklearn.metrics import mean_squared_error
a_pred = lr.predict(X_test_val)

a = mean_squared_error(y_test_val,a_pred)**0.5
a

0.46758301950972503

# OLS

In [37]:
import statsmodels.api as sm

model = sm.OLS(y, X)
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:            statsTrgtNm   R-squared (uncentered):                   0.298
Model:                            OLS   Adj. R-squared (uncentered):              0.297
Method:                 Least Squares   F-statistic:                              423.4
Date:                Wed, 15 Dec 2021   Prob (F-statistic):                    1.03e-78
Time:                        20:47:20   Log-Likelihood:                         -827.21
No. Observations:                1000   AIC:                                      1656.
Df Residuals:                     999   BIC:                                      1661.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
ptSexCd        0.2313      0.011     20.577      0.000       0.209       0.253
==============================================================================
Omnibus:                     4325.976   Durbin-Watson:                   1.870
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              145.622
Skew:                           0.234   Prob(JB):                     2.39e-32
Kurtosis:                       1.190   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""